body{
    margin: 0;
   
}
/* backgroun start */
.back-top {
	background-image: url('https://play-lh.googleusercontent.com/SZ97RCEv5EVH6iMCDIdHeGJM_BNyHYcnRQ4EdK4V_VyVxLlQS8GY1U3xB8atEBH55OM');
	height: 15vh;
	width: 100%;
}
.back-main {
	background-color: #d9dbd5;
	height: 85vh;
}
.back-container {
	position: relative;
}
.front-container {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
}
.front-container1 {
	position: absolute;
	top: 20px;
	left: 0;
	right: 0;
}
/* background end */

i{
    color: lightslategray;
    margin-right: 3px;
}
.container{
    width: 1200px;
    margin: 20px auto;
    background-color: #ECE5DD;
}

.first-r{
    background-color: rgb(226, 223, 223);
    border-bottom: 1px solid rgba(194, 196, 197, 0.644);
    
}
.second-r .col-4{
    padding: 0;
}
/* Sevda========= start*/
.col-sm-4 {
	margin: 0;
	height: 50px;
	border-right: 0.5px solid #a5a7a3;
}
.profile-img {
    margin-top: 5px;
    margin-right:10px;
	height: 40px;
	width: 40px;
	border-radius: 50%;
}
.float-right {
	float: right;
	margin-top: 10px;
}

/* Sevda ======end */


.col-4{
    border-right: 1px solid rgba(194, 196, 197, 0.644);
    background-color: rgb(226, 223, 223);
}
.avatar{
    width: 50px;
    height: 50px;
    border-radius: 25px;
}

.alert-container{
    background-color: rgb(170, 220, 253);
    height: 100px;
}
.search-wrapper{
    background-color: #eee;
}
.search-container{
    width: 95%;
    margin: 10px auto;
    background-color: white;
    padding: 5px 20px;
    border-radius: 5px;
}
.search{
    border: none;
    width: 80%;
    font-size: 14px;
    color: lightslategray;
    padding-left: 20px;
}
.chats{
    display: grid;
    grid-template-columns: 2fr 6fr 4fr;
    padding: 10px 0;
    border-bottom: 1px solid rgba(168, 178, 189, 0.596);
    background-color: white;
}
#active-chat{
    background-color: rgb(226, 223, 223);
}
.avatar-container{
    grid-column: 1/2;
    grid-row: 1/3;
    padding-left: 10px;
}
.names{
    grid-column: 2/3;
    grid-row: 1/2;
    font-weight: bold;
    padding-left: 10px;  
}

.time{
    grid-column: 3/4;
    grid-row: 1/2;
    font-size: 14px;
    color: lightslategray;
    justify-self: end;
    padding-right: 15px;
}
.text-preview{
    grid-column: 2/4;
    grid-row: 2/3;
    font-size: 14px;
    color: lightslategray;
    padding: 0 0 5px 10px;   
    overflow-x: auto;
}

